body {
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap')
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lato', sans-serif;
    margin: auto;
    }

.contenedor{
    width: 100%;
    display: table;
    margin: auto;
}
.caja-menu{
overflow: hidden;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navegacion ul li {
        border-bottom: 1px solid white;
        padding: 20px;
    text-align: center;
    font-family:  'Fjalla One', sans-serif;

}
#ogol{
    width: 200px;

}
.boton{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: t;
    font-family: 'Fjalla One', sans-serif;

}
.boton:hover{
    color:  white;
}

.button{
    float: right;
    padding-top: 20px;
    margin-right: 30px;
}
.button img{
    width: 50px
        
}
.navegacion ul li:hover{
  background-color:#cbc2c2;
    color: white;
 border-radius: 5px;
}

.navegacion{
     background-color: #847E7B;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: table;
}

 .active, .boton:hover{
    border-bottom: 2px solid  #F5B10F;
}

.clases{
    background-image: url(../images/clases.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.clases h1{
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 310px;
    margin: 0;
}
.ondo{
     background-image: url(../images/ni%C3%B1osmascara.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.circulito{
    background-color: rgba(255, 255, 255, 0.94);
      width: 400px;
      height: 400px;
      border-radius: 50%;
    padding: 40px;
    text-align: center;
            margin-top: 150px;
}

.centrar{
    display: table;
    margin: auto;
    padding: 20px;
    
}
.circulito h2 {
    color: #F5B10F;
    margin-top: 100px;
}
.circulito p {
    color: #847E7B;
}
#circulito{
        text-align: center;margin-top: 20px;
    display: table;
    margin: auto;
}
.ondo2{
    display: table;
    margin: auto;
    padding: 40px
}
#circulito h2{
        color: #F5B10F;
}
#circulito p{
       color: #847E7B;
}
.tructu h2{
     text-align: center;
    color: #847e7b;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 37px;

}

.ondo2 img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: table;
    margin: auto;
}
.ondo2 h2{
    margin: auto
}
.ondo1{
     background-image: url(../images/kidsmile.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.instructores{
    display: table;
    margin: auto;
    text-align: center;
}
.instructores h2{
     font-family: 'Fjalla One', sans-serif;
    font-size: 37px;
}
.instructores h3{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #F5B10F
}
.abonnement{
    background-color: #F5B10F;
    text-align: center;
    padding: 40px;
    color: white;
    width: 100%;

}
.contact{
 display: table;
    margin: auto;
    border: 1px solid white;
    
}
.contact button{
    font-family: 'fjalla one';
    color: #ffffff;
    font-size: 20px;
      border: none;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
    background-color: transparent;   
}
.contact button:hover{
    color: #f5b10f;
    background-color: white;
        padding: 11px 20px;
}
.contact input{
    padding: 15px 20px;
    margin: 0;
    text-decoration: none;
          border: none;
     font-family: 'Lato', sans-serif;
    
}
.roloc{
        background-color: #2C2C2C;
}
.centracion{

    display: table;
    margin: auto;
    text-align: center;
    color: white;
    width: 80%
}
.partone img{
    width: 250px;
    padding: 10px;
}
.partone{
    padding: 0 20px;
}
.partos{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 20px;
}
.partos a{
        text-decoration: none;
    color: white;
    
}
.partos a:hover{
    color: #f5b10f;
}
.partosero{
    padding: 20px;
}
.partosuno{
    padding: 20px;
}
.footerderechos{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
.centracion:last-child{
    margin: 0px;
    padding: 0px; color: aliceblue;
}

/*ESTILOS PARA TABLETA*/
@media screen and (min-width: 768px){
    .circulito{
    background-color: rgba(255, 255, 255, 0.94);
      width: 400px;
      height: 400px;
      border-radius: 50%;
    padding: 40px;
        margin-top: 150px;
    float: right;
}
    .centrar{
    float: right;
    padding: 20px;
    
}
    .ondo2 img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: left;
}
    #circulito{
        text-align: center;
        margin-top: 20px;
    float: right;
        width: 40%;
        margin-top: 120px;
    }
        .instructores{
    display: flex;
            flex-wrap: wrap;
            
}
    .boite{
        width: 50%;
;
    }
    #esneider{
        display: table;
        margin: auto;
    }
    .button img{
    visibility: visible;
}
}
/*ESTILOS PARA PC*/
@media screen and (min-width:960px){
   
    
    .ondo2{
        display: flex;
        justify-content: space-between;
    }
        #circulito{
width: 40%
    
}
    .centrar{
        float: left;
        margin-left: 40px;
    }
     .boite{
        width: 30%;
         padding: 10px;
}
        #esneider{

    }
    .centracion{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .partos{
    display: flex;
    justify-content: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin: 20px;
        border-bottom: 2px solid transparent;
    height: 80%;}
    
        
        .partwo{
            padding: 10px;
            margin-right: 30px
        }
.navegacion {
  
    background-color: transparent;; 
    font-family: sans-serif;
    font-size: 20px;
overflow: hidden;
     
    
}


.navegacion ul{
    
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px
    
}


.navegacion a{
    
   text-decoration: none;
    color: #94A09E;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 10px 0px 0px;
    
}
.button img{
    visibility: hidden;
}
.caja-menu{
    position: relative;
}

.oci img{ 
right: 40%;
    position: absolute;
    top: 0%
}


    }
.iconosfooter img{
    width: 60px;
    padding: 10px;
}
#facebook{
   width: 32px;
}

/*ESTILOS PARA SECCION DE ESPACIOS*/

.lilo{
    background-image: url(../images/espaciobanner.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.lilo h1{
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 310px;
    margin: 0;
}
.wrapper h2{
        font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    text-align: center;    color: #5b5b5b;
       font-size: 30px;
}

.padi{
    padding: 20px 35px;
}
.item h3{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
     color: white;
    margin-bottom: 5px;
transform:translate(10px, -120px)
    
}
.item h4{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
     color: #F1F1F1;
    margin: 0;
    transform:translate(10px, -120px)
    
}

.teacolo{
background-color: #F1F1F1;
    padding-bottom: ;
    overflow: hidden;
}
.theteathre{
    display: table;
    margin: auto;
    color: #5b5b5b;
     font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 25px;

}
.bloquertasion{
        
}
.cartasion{
  display: table;
    margin: auto;
        box-shadow: 0 0px 5px black;
    margin-top: 20px;
    width: 500px;
      margin-bottom: 30px;
    background-color: white;
}
.cartasion img{
    width: 100%;
}
.txt-cartasion{
    padding: 25px;
}
.txt-cartasion h2{
     font-family: 'Fjalla One', sans-serif;
    margin: 0;
    color: #5B5B5B;
    font-size: 24px;
    font-weight: normal;
}
.txt-cartasion h3{
     font-family: 'Lato', sans-serif;
    color: #f5b10f;
    margin: 0;
     font-size: 18px;
    border-bottom: 1px solid  #f5b10f;
    padding-bottom: 5px;
    font-weight: normal;
}
.txt-cartasion p{
     font-family: 'Lato', sans-serif;
      color: #5B5B5B;
     font-size: 14px;
    
}
.lebouton a{
    display: table;
    margin: auto;
    color: white;
    background-color: #f5b10f;
    width: 20%;
    height: 5px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
    text-decoration: none;

}
.lebouton a:hover{
    color: #f5b10f;
    background-color: white;
}
.reacolo{
    background-color: #DBBE99;
    overflow: hidden;
}
.theresta{
       display: table;
    margin: auto;
    color: white;
     font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 25px;
    
}
section#video-container {
  margin-top: 0px;
}

#video-container  {
  position: relative;
  width: 100%;
  height: 560px;
  overflow: hidden;
  z-index: 1;

}

#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#video-container .video-overlay {
  z-index: 9999;
  background: rgba(0,0,0,0.7);
  width: 100%;
}

#video-container .video-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#video-container .video-content .inner span {
  font-size: 17px;
  display: block;
  margin: 0px;
  color: #fff;
}

#video-container .video-content .inner h2 {
  margin-bottom: 0px;
  margin-top: 14px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0.5px;
        font-family: 'Fjalla One', sans-serif;
}
.inner a img{
    padding: 20px;
}
/*ESTILOS PARA TABLETA*/
@media screen and (min-width: 768px){
    
    .bloquertasion{
        display: flex;
        flex-wrap: wrap;
    }
    .cartasion{
        width: 48%
    }

}
/*ESTILOS PARA PC*/

@media screen and (min-width:960px){
    
        .cartasion{
        width: 30%
    }
    
}

/*ESTILOS PAGINA DE EVENTOS*/
.evenement-txt{
                background-image: url(../images/bannerteatro.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.evenement-txt h1{
      text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 380px;
    margin: 0;
}
.evenemont{
    background-color:  #F1F1F1;
    padding-top: 50px
}
.evenemontcart{
  display: table;
    margin: auto;
        box-shadow: 0 0px 5px black;
    width: 500px;
      margin-bottom: 30px;

}
.evenemont img{
    width: 100%;
}
.txt-evenemont{
    padding: 25px;
}
.txt-evenemont h2{
     font-family: 'Fjalla One', sans-serif;
    margin: 0;
    color: #5B5B5B;
    font-size: 26px;
    font-weight: normal;
}
.txt-evenemont h3{
     font-family: 'Lato', sans-serif;
    color: #f5b10f;
    margin: 0;
     font-size: 15px;
    padding-bottom: 5px;
    font-style: italic;
}
.txt-evenemont p{
     font-family: 'Lato', sans-serif;
      color: #5B5B5B;
     font-size: 14px;
    
}

.convives{
      display: table;
    margin: auto;

}
.convives h2{
         font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #847E7B;
    
}
#conviva{
          width: 100%;
} 
.convivesec img{
    width: 100%;
}
.convives-txt{
    font-family: 'Lato', sans-serif;
}
.convives-txt h3{
    font-weight: bold;
        color: #f5b10f;
    font-size: 20px;
    margin-bottom: 0;
}
.convives-txt h3 span{
    font-weight: lighter;
        font-style: italic;
    font-size: 20px;
}
.convives-txt p{
    color: #5B5B5B;
    font-size: 14px;
    
}
.inter-txt h3 span{
    color: #969292;
}
.inter-txt{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.inter-txt img{

}
#noks{
    
}
.icote{
    border-bottom: 2px solid #f5b10f;
    padding: 5px 0
}
.obration{
    display: table;
    margin: auto;
    text-align: 
}
.fedateico{
    display: flex;
    justify-content: space-between;
    
}
.fedateicotos-txt{
padding-right: 40px;
}
.obr-txt{
    font-family: 'Fjalla One', sans-serif;
}
.obr-txt p{
        color: #5B5B5B;
}
.generos{
    background-color: #5B5B5B;
    
    padding: 20px;
}
.generos a{
    text-decoration: none;
    color: white;
    text-align: center;
        font-family: 'Fjalla One', sans-serif;
    font-size: 2 0px;
}
.generos a:hover{
    color: #f5b10f;
}
.bannerteatro{
    background-image: url(../images/Backsillasteatro.jpg);
;
    background-repeat: no-repeat;
    background-size: cover;
overflow: hidden;

}
.cosillas{
display: table;
    margin: auto;
}
.cosillas img{

}
.cosillas h2{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}


/*ESTILOS PARA TABLETA*/
@media screen and (min-width: 768px){
    
    .evenemont{
    display: flex;
        flex-wrap: wrap;
    }
    .evenemontcart{
      width: 40%;

        box-shadow: 0 0px 5px black;
      margin-bottom: 30px;
    }
    #evecar{
display: table;
        margin: auto;
        width: 100%;
        text-align: center
    }
    
.contenedor{
    width: 100%;
    display: table;
    margin: auto;
}
        .cronograma{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: baseline;
    }
    .convivesec img{
    width: 100%;
}
    .convives{
        width: 30%
    }
    #conviva{
          width: 100%;
        padding: 10px;
}

}
/*ESTILOS PARA PC*/

@media screen and (min-width:960px){
    .contenedor{
    width: 80%;
    display: table;
    margin: auto;
}
    .cronograma{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: baseline;
    }
    .convivesec img{
    width: 70%;
}
    .convives{
        width: 30%
    }
    #conviva{
          width: 100%;
        padding: 10px;
} 
      .evenemontcart{
      width: 30%;

        box-shadow: 0 0px 5px black;
      margin-bottom: 30px;
    }
    #evecar{
display: table;
        margin: auto;
width: 30%;
        text-align: center
    }
}

/*Estilos para pagina de index*/

.bannersito{
    background-image: url(../images/FOTOS%20DE%20INTEGRACI%C3%93N_Mesa%20de%20trabajo%201.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.textico{
    padding: 10px 20px 10px  40px;
    transform: translateY(-100%);
    text-align: center;
    
}


.textico h1 {
  text-decoration: none;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 8px;
    font-size: 50pt;
    color: white;

        
}

.textico p{
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: white;
    transform: translateY(-100%);
    text-align: center;
    letter-spacing: 4px;
}

/*cuadro de texto*/




.cuadrito{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-50%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
}


.solotexto{
    text-align: center;
}

.solotexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:30pt;
    color: #646464;
    
}

.solotexto h2{
  
    font-size:20pt;
    color: #646464;
    transform: translateY(-110%);
}

.solotexto p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 18pt;
}

.lolxd a{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    
    background-color: #f5b10f;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    transition: all.5s;
}
.bannersito2{
    background-image: url(../images/FOTOS%20DE%20INTEGRACI%C3%93N-02.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     position: 
     
}


.textico2{
    padding: 20px 10px 10px  40px;
    transform: translateY(-120%);
    text-align: center;
    
    
}


.textico2 h2 {
  text-decoration: none;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 6px;
    font-size: 30pt;
    color: white;

}
.textico2 p{
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-size: 18pt;
    color: white;
   
    text-align: center;
    letter-spacing: 4px;
    
} 


.flechis{
    transform: translateY(130px)
}

/*RECOMEDADOS*/


.pop{
    transform: translateY(-325px);
    padding: 10px 10px 10px 60px;
    text-align: center;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 5px;
    color: #525252;
    font-size: 28pt;
}

.cuadradote1{
     padding: 7% 7% 7% 7%;
}

.cuadrito1{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-20%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.solotexto3{
    text-align: center;
}

.solotexto3 h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:28pt;
    color: #646464;
    
}


.solotexto3 p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15pt;
}


.solotexto3 h4{
    font-family: "lato", sans-serif;
    color:  #f5b10f;
    font-size: 20pt;
    font-weight: 800;}

.fotus ul li{
    list-style-type: none;
    }

.fotus2 h2 {
    display: flex;
    justify-content: center;
    color: #f5b10f;
     font-weight: 800;
}
.fotus h2 {
    display: flex;
    justify-content: center;
    color: #f5b10f;
     font-weight: 800;
}


.fotus2 h4 {
    display: flex;
    justify-content: center;
    color:  #f5b10f;
     font-weight: 800;
    
}

/*platillos*/

.cuadrito3{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-10%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
    text-align: center;
}



.solotexto4 h1{
    font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:40pt;
    color: #646464;
    
}


.fotusoo p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: center;
    justify-content:;
    font-size: 15pt;
}
   



.fotusoo2 p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: left;
    justify-content:;
    font-size: 15pt;
    
}

.bistec{
    color: #646464;
    display: flex;
    text-align: left;
    justify-content:;
    font-size: 15pt;
    
}

.fotusoo1 ul li{
    list-style-type: none;
    }

.fotusoo1 p {
     color: #646464;
     font-size: 15pt;
    text-align: left;
   }

.fotusoo1 h2 {
    display: flex;
    align-content: flex-start;
    color: #f5b10f;
    font-weight: 800;
}

/*recuadro*/

.recuadrado{
    background-color:  #f5b10f;
    margin-top: -250px;
    text-align: center;
}

.cuadroamarillo{
    padding: 70px 70px 70px 70px;
}


.cuadroamarillo h1{
    font-family: "fjalla one", sans-serif;
    color: white;
    font-size: 30pt;
    text-align: center;
}

.cuadroamarillo p{
    font-family: "lato", sans-serif;
    font-size: 15pt;
    color: white;
    
    
}

/* AQUÍ COMIENZA EL MENÚ*/

/*banner*/

 .elbannersito{
    background-image: url(../images/FOTOS%20DE%20INTEGRACI%C3%93N-24.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.eltextico{
    padding: 10px 20px 10px  40px;
    transform: translateY(-180%);
    text-align: center;
    
}


.eltextico h1 {
  text-decoration: none;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 8px;
    font-size: 50pt;
    color: white;

        
}


/*cuadro de texto*/




.elcuadrado{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-10%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
}


.onlytexto{
    text-align: center;
    
}

.onlytexto ul li{
    list-style-type: none; 
}

.onlytexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 1px;
    font-size:20pt;
    color: #646464;
}

.onlytexto h2{
    font-family: "lato", sans-serif;
    font-size:16pt;
    text-align: left;
    color: #f5b10f;;


}

.onlytexto p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: ;
    justify-content: center;
    font-size: 12pt;
}



.lebistec{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align:left;
    justify-content: center;
    font-size: 15pt;
}


/*PLATOS TRADICIONALES MENÚ*/



.lecuadrito1{
   margin: 10% 10% 10% 10%; 
   padding: 2% 8% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-15%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.lefotus{
    padding: 0px 30px  0px 0px;
}

.lesolotexto3{
    text-align: center;
}

.lesolotexto3 h1{
    font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:20pt;
    color: #646464;
    
}

.lesolotexto3 p{
    color: #646464;
     
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12pt;
}

.lefotus ul li{
    list-style-type: none;
    }

.lefotus h2 {
    display: flex;
    justify-content: flex-start;
    color: #f5b10f;
    font-size: 14pt;
     font-weight: 800;
    font-size: 14pt;
}

.lefotus p{
    color: #646464;
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 12pt;
}

    
/*ENTRADAS*/



.sacuadrado{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 0% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-15%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
}


.saonlytexto{
    text-align: center;
    transform: translateX(-2%)
    
}

.saonlytexto ul li{
    list-style-type: none; 
}

.saonlytexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 1px;
    font-size:20pt;
    color: #646464;
}

.saonlytexto h2{
    font-family: "lato", sans-serif;
    font-size:16pt;
    text-align: left;
    color: #f5b10f;;


}

.saonlytexto p{
    color: #646464;
    display: flex;
    text-align: ;
    justify-content: center;
    font-size: 12pt;
}

/*bebidas*/

.sacuadrado{
    transform: translateY(-5%)
}

/*recuadro Amarillo del menu*/

.lerecuadrado{
    background-color:  #f5b10f;
    margin-top: -200px;
    text-align: center;
}

.lecuadroamarillo{
    padding: 70px 70px 70px 70px;
}


.lecuadroamarillo h1{
    font-family: "fjalla one", sans-serif;
    color: white;
    font-size: 30pt;
    text-align: center;
}

.lecuadroamarillo p{
    font-family: "lato", sans-serif;
    font-size: 13pt;
    color: white;
    
    
}



/*ESTILOS PARA PC*/
@media screen and (min-width:960px)
{
    
    .textico{
    padding: 10px 20px;
    transform: translateY(-140.9%);
    text-align: left;
    
}
    
    .textico h1 {
  text-decoration: none;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 8px;
    font-size: 65pt;
    color: white;

        
}

.textico p{
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-style: italic;
    font-size: 18pt;
    color: white;
    transform: translateY(-183.6%);
    text-align: left;
    letter-spacing: 4px;
    margin-top: 6.5%
}

 .textico img{
        margin: auto;
        margin-left: 47.6%;
     
    }
    .solotexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:40pt;
    color: #646464;
    
}

.solotexto h2{
  
    font-size:16pt;
    color: #646464;
    transform: translateY(-110%);
}
    
.lolxd a{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 15px;
    
    background-color: #f5b10f;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    transition: all.5s;
}
    
    .lolxd a:hover{
        background-color: black;
        color: #f5b10f;
        transition: 0.5s;
    }
    
.textico2{
    padding: 180px 10px 10px  40px;
    transform: translateY(-140%);
    text-align: center;
    
    
}
    

.textico2 h2 {
  text-decoration: none;
    font-family: "fjalla one", sans-serif;
    letter-spacing: 6px;
    font-size: 36pt;
    color: white;
    

}
    
.tectico2 h2 span{
    font-size: 40pt;
    
    }
.textico2 p{
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-size: 12pt;
    color: white;
   margin: auto;
    width: 50%;
    text-align: center;
    letter-spacing: 4px;
    
} 


.flechis{
    transform: translateY(200px)
}


.cuadrito3{
   margin: 10% 10% 10% 10%; 
   padding: 7% 7% 7% 7%;
   background-color: white;
   border-radius: 60px;
   transform: translateY(-10%);
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.31);
    text-align: center;
}



.solotexto4 h1{
    font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:40pt;
    color: #646464;
    
}


.fotusoo p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: center;
    justify-content:;
    font-size: 14pt;
}
   



.fotusoo2 p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: left;
    justify-content:;
    font-size: 15pt;
    
}

.bistec{
    color: #646464;
    display: flex;
    text-align: left;
    justify-content:;
    font-size: 15pt;
    
}
    fotusoo1 ul li{
    list-style-type: none;
    }

.fotusoo1 p {
     color: #646464;
     font-size: 15pt;
    text-align: left;
   }

.fotusoo1 h2 {
    display: flex;
    align-content: flex-start;
    color: #f5b10f;
    font-weight: 800;
}

    .fotusoo1 {
        width: 50%;
        display: inline-block;
        list-style: none;
        
    }
/*********menu***********/
    
    
    
.onlytexto ul {
    list-style-type: none;
    width:55%;
    margin: auto
}

.onlytexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 1px;
    font-size:20pt;
    color: #646464;
    position: relative;
    
}

.onlytexto h2{
    font-family: "lato", sans-serif;
    font-size:16pt;
    text-align: left;
    color: #f5b10f;;


}

.onlytexto p{
    color: #646464;
     transform: translateY(-0%);
    display: flex;
    text-align: ;
    justify-content: center;
    font-size: 12pt;
}
    
.lefotus{
    padding: 0px 30px  0px 0px;
    width: 40%;
    display: flex;
    display: inline-block;
    list-style-type: none;
    
}

.lesolotexto3{
    text-align: center;
}

.lesolotexto3 h1{
    font-family: "fjalla one", sans-serif;
    letter-spacing: 4px;
    font-size:20pt;
    color: #646464;
    
}

.lesolotexto3 p{
    color: #646464;
     
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12pt;
}

.lefotus ul li{
    list-style-type: none;
    }

.lefotus h2 {
    display: flex;
    justify-content: flex-start;
    color: #f5b10f;
    font-size: 14pt;
     font-weight: 800;
    font-size: 14pt;
}

.lefotus p{
    color: #646464;
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 12pt;
}
    

.saonlytexto{
    text-align: center;
    transform: translateX(-2%);
    width: 60%;
    margin: auto;
}

.saonlytexto ul li{
    list-style-type: none; 
}

.saonlytexto h1{
      font-family: "fjalla one", sans-serif;
    letter-spacing: 1px;
    font-size:20pt;
    color: #646464;
}

.saonlytexto h2{
    font-family: "lato", sans-serif;
    font-size:16pt;
    text-align: left;
    color: #f5b10f;;


}

.saonlytexto p{
    color: #646464;
    display: flex;
    text-align: ;
    justify-content: center;
    font-size: 12pt;
}

}












